build
.vscode

# HIP runtime compilation and autotuning caches
xpmhip-cache/
kernelxpm_*.hipbin
kernelxpm_*.hipbin.fingerprint
.xpmhip-autotune-*.cfg

# nix build
result/

# Devenv
.devenv*
devenv.local.nix
devenv.local.yaml

# direnv
.direnv

# pre-commit
.pre-commit-config.yaml
